JWT_SECRET="P0VlpF86jFLONA9kowSq3WsLVrQ5PHjq1LqF0yrwDq1"
JWT_EXPIRES_IN="1d" 
PORT=3000   
DATABASE_HOST="localhost"
DATABASE_PORT=5432  
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=James
DATABASE_NAME=vantage
DATABASE_TYPE=postgres